@charset "UTF-8";
.vibrate-1 {
  animation: vibrate-1 0.3s linear infinite both;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

/*pagina de index*/
.inicio-inicio {
  background-image: url(../img/mesas\ yarbol\ pared.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}
.inicio-inicio .pages-inicio {
  min-height: 100vh;
  max-width: 100vw;
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-template-rows: 300px 300px;
  grid-template-areas: " inicio           inicio     servicios      contacto" "                 quienes-somos     galeria       reseñas      contacto";
  border-radius: 1rem;
  align-content: center;
  justify-content: center;
  margin: 1rem;
  gap: 1rem;
}
.inicio-inicio .pages-inicio a {
  color: #f5f5f5;
  text-decoration: overline;
}
.inicio-inicio .inicio {
  background-color: #448FA3;
  grid-area: inicio;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 1rem;
  font-size: 3rem;
}
.inicio-inicio .quienes-somos {
  background-color: #0197F6;
  grid-area: quienes somos;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  border-radius: 1rem;
  font-size: 3rem;
}
.inicio-inicio .servicioss {
  background-color: #68C5DB;
  grid-area: servicios;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 1rem;
  font-size: 3rem;
}
.inicio-inicio .reseñas {
  background-color: #68C5DB;
  grid-area: reseñas;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 1rem;
  font-size: 3rem;
}
.inicio-inicio .galeria {
  background-color: #0197F6;
  grid-area: galeria;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 1rem;
  font-size: 3rem;
}
.inicio-inicio .contacto {
  background-color: #C6DEA6;
  grid-area: contacto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 1rem;
  font-size: 3rem;
}

/* menu de navegacion*/
.navbar .nav-link {
  color: #f5f5f5;
  text-decoration: none;
  font-size: larger;
}
.navbar .nav-link.active {
  color: #f5f5f5;
  font-weight: bold;
}
.navbar p {
  color: #f5f5f5;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}
.navbar .menu-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
.navbar .menu-logo .logo {
  width: 2rem;
}
.navbar .menu-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}
.navbar .menu-list .list {
  display: inline-block;
}
.navbar .menu-list .list:hover {
  color: #f5f5f5;
  -webkit-text-decoration: underline double;
          text-decoration: underline double;
  font-size: 1.5rem;
}
.navbar .menu-list .enlace p {
  color: #f5f5f5;
  text-decoration: none;
}

.titulopresentacion {
  background-color: #C6DEA6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 500;
  padding: 1rem;
}

.redes-sociales {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  bottom: 1rem;
  left: 1rem;
  padding: 0;
  gap: 1rem;
  border-radius: 1rem;
}
.redes-sociales .bi {
  font-size: 2rem;
  color: #f5f5f5;
}

.index-redes {
  background-color: #0197F6;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* menu de navegacion*/
.navbar .nav-link {
  color: #f5f5f5;
  text-decoration: none;
  font-size: larger;
}
.navbar .nav-link.active {
  color: #f5f5f5;
  font-weight: bold;
}
.navbar p {
  color: #f5f5f5;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}
.navbar .menu-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
.navbar .menu-logo .logo {
  width: 2rem;
}
.navbar .menu-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}
.navbar .menu-list .list {
  display: inline-block;
}
.navbar .menu-list .list:hover {
  color: #f5f5f5;
  -webkit-text-decoration: underline double;
          text-decoration: underline double;
  font-size: 1.5rem;
}
.navbar .menu-list .enlace p {
  color: #f5f5f5;
  text-decoration: none;
}

.titulopresentacion {
  background-color: #C6DEA6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 500;
  padding: 1rem;
}

/*quienes somos*/
.presentacion_contenido {
  background-color: #68C5DB;
}
.presentacion_contenido .titulo_quienesosmos {
  background-color: #0197F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
}
.presentacion_contenido .titulo_quienesosmos h2 {
  font-size: 2rem;
}
.presentacion_contenido .titulo_quienesosmos p {
  font-size: 1.5rem;
  color: #f5f5f5;
}
.presentacion_contenido .descripcion_quienesomos {
  padding: 60px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}
.presentacion_contenido .descripcion_quienesomos .descripcion-quienesomos1 {
  background-color: #0197F6;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.presentacion_contenido .descripcion_quienesomos .descripcion-quienesomos1 .img-descripcion {
  border-radius: 20px;
  max-width: 100%;
}
.presentacion_contenido .descripcion_quienesomos .descripcion-quienesomos1 .descripcion-titulo {
  font-size: 40px;
  margin: 10px;
  gap: 1rem;
}
.presentacion_contenido .descripcion_quienesomos .descripcion-quienesomos1 .descripcion-parrafo {
  color: #f5f5f5;
  font-size: 25px;
  margin: 10px;
  gap: 1rem;
}

/*galeria de fotos*/
.galerias {
  background-color: #68C5DB;
}

.galeriaimg {
  display: flex;
  display: inline;
  max-width: 20rem;
  margin: 15px;
  border-radius: 15px;
}

.galeriatransfor:hover {
  transform: scale(2);
}

/*servicios*/
.servicio {
  background-color: #68C5DB;
}
.servicio .gifalicia {
  display: block;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
.servicio .descripcion-servicios {
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center center;
  justify-content: last baseline;
  gap: 1rem;
}
.servicio .descripcion-servicios .descripcion-servicio {
  background-color: #0197F6;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 300px;
}
.servicio .descripcion-servicios .descripcion-servicio .servicios-body {
  color: #f5f5f5;
  padding-inline: 10px;
  font-size: 1.5rem;
  padding: 3rem;
}
.servicio .descripcion-servicios .descripcion-servicio .servicios-body .servicios-titulo {
  font-size: 30px;
  margin: 10px;
  gap: 1rem;
}
.servicio .descripcion-servicios .descripcion-servicio .servicios-body .servicios-parrafo¨ {
  font-size: 25px;
  margin: 10px;
  gap: 2rem;
}
.servicio .descripcion-servicios .descripcion-servicio .servicios-body .btn {
  color: black;
  background-color: #C6DEA6;
  padding: 15px;
  font-size: 2rem;
}

/*reseñas*/
.reseña {
  background-color: #68C5DB;
}
.reseña .reseña-img {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100vw;
}
.reseña .reseña-img .reseñas_img {
  max-width: 500px;
  min-width: 300px;
  border-radius: 15px;
  padding: 35px;
  height: 453px;
}
.reseña .reseñas-transfor {
  transition: 0.5seg;
}
.reseña .reseñas-transfor:hover {
  transform: scale(1.5);
}

/*contacto*/
.fondo {
  background: url(../img/foto\ entrada.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  max-width: 100%;
}
.fondo .lista-contacto {
  font-size: 2rem;
  gap: 3rem;
  padding: 1rem;
}
.fondo .lista-contacto .botones {
  border-radius: 1rem;
  font-size: 2rem;
}
.fondo .lista-contacto .textarea {
  font-size: 1.5rem;
  border-radius: 2rem;
}

.footer {
  max-width: 100%;
  background-color: #C6DEA6;
  padding-block: 20px;
  caret-color: black;
  text-align: center;
  padding: 20px;
}/*# sourceMappingURL=main.css.map */