 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 .img {
     max-width: 100%;
 }

 * {
     box-sizing: border-box;
 }

 /*pagina de inicio*/
 .inicio-inicio {
     background-color: rgb(214, 224, 233);
     background-position: 100vh;
 }

 .pages-inicio {

     min-height: 100vh;
     display: grid;
     grid-template-columns: 300px 300px 300px 300px;
     grid-template-rows: 300px 300px 300px;
     grid-template-areas: " inicio           inicio    servicios  contacto"
         " quienes-somos    galeria       reseñas      contacto";
     border-radius: 1rem;
     align-content: center;
     justify-content: center;
     margin: 1rem;
     gap: 1rem;




 }

 .inicio {
     background-color: rgb(124, 143, 124);
     grid-area: inicio;
     display: flex;
     justify-content: center;
     align-items: center;
     text-decoration: none;
     border-radius: 1rem;
 }

 .quienes-somos {

     background-color: rgb(124, 143, 124);
     grid-area: quienes somos;
     display: flex;
     justify-content: center;
     align-items: center;
     text-decoration: none;
     border-radius: 1rem;

 }

 .servicios {

     background-color: rgb(124, 143, 124);
     grid-area: servicios;
     display: flex;
     justify-content: center;
     align-items: center;
     text-decoration: none;
     border-radius: 1rem;

 }

 .reseñas {
     background-color: rgb(124, 143, 124);
     grid-area: reseñas;
     display: flex;
     justify-content: center;
     align-items: center;
     text-decoration: none;
     border-radius: 1rem;
 }

 .galeria {
     background-color: rgb(124, 143, 124);
     grid-area: galeria;
     display: flex;
     justify-content: center;
     align-items: center;
     text-decoration: none;
     border-radius: 1rem;
 }

 .contacto {
     background-color: rgb(124, 143, 124);
     grid-area: contacto;
     display: flex;
     justify-content: center;
     align-items: center;
     text-decoration: none;
     border-radius: 1rem;
 }



 /* menu de navegacion*/
 .menu {

     background-color: rgb(117, 136, 98);
     padding: 1rem;
     flex-direction: row;
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 1rem;
     position: sticky;
     top: 0;
     min-width: 100%;
     z-index: 1;

 }

 .menu-logo {
     display: flex;
     align-items: center;
     gap: 1rem;
     padding: 1rem;

 }

 .logo {
     width: 2rem;

 }

 .menu-list {

     list-style-type: none;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 2rem;
     align-items: center;
 }

 .list {
     display: inline-block;


 }

 .list a {
     color: black;
     text-decoration: none;

 }

 .list:hover {
     color: black;
     text-decoration: underline double;
     font-size: 1.2rem;
 }


 .enlace :hover {
     font-size: 3rem;

 }

 /*pie de pagina */
 .pie {
     max-width: 100%;
     background-color: rgb(117, 136, 98);
     padding-block: 20px;
     caret-color: black;
     text-align: center;
     padding: 20px;

 }


 .redes-sociales {
     background-color: black;
     display: flex;
     flex-direction: column;
     position: fixed;
     justify-content: center;
     align-items: center;
     bottom: 2rem;
     left: 2rem;
     padding: 1rem;
     gap: 1rem;
     border-radius: 1rem;
 }

 .bi {
     font-size: 2rem;
     color: whitesmoke;

 }


 /*contacto*/

 .fondo {
     background: url(../img/foto\ entrada.jpeg);
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     height: 100vh;
     max-width: 100%;

 }



 .lista-contacto {
     font-size: 2rem;
     gap: 3rem;
     padding: 1rem;

 }

 .botones {
     border-radius: 1rem;
     font-size: 2rem;
 }

 .textarea {
     font-size: 1.5rem;
     border-radius: 2rem;
 }

 .maps {
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 15px;

 }

 /*galeria de fotos*/

 .galeria-carousel {

     display: flex;
     justify-content: center;
     align-items: center;

     max-width: 100vh;

 }

 /*quienes somos*/

 .presentacion {
     background-color: rgb(110, 201, 207);
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 2rem;
     padding: 1rem;
     gap: 1rem;
 }

 .cartitasquienessomos {


     width: 300px;
     border-radius: 20px;
     padding: 5px;
     display: flex;
     flex-direction: row;
     
     gap: 2rem;
     margin: 30px;

 }

 .descripcion {
     width: 300px;
     font-size: 1.5rem;
     background-color: rgb(117, 136, 98);
 }

 .img-quienessosmos {
     max-width: 100%;

 }
 .descripcion-titulo{
    font-size: 30px;
    margin: 10px;
    gap: 1rem;

 }

 .descripcion-parrafo{
    font-size: 25px;
    margin: 10px;
    gap: 1rem;


 }

 /*reseñas*/


 .carousel {
    width: 75%;
   
   
 }


 /*servicios*/
 .servicios_img {

     background: url(../img/cumpleanos-infantiles-ninos.webp);





 }

 /*   background-color: rgb(117, 136, 98);
     display: flex;
     flex-direction: row; width: 500px;*/
 .servicios_tarjeta {

     width: 500px;
     height: 600px;
     background-color: rgb(117, 136, 98);
     border-radius: 20px;
     padding: 5px;
     overflow: auto;
     display: flex;
     display: inline-block;
     flex-direction: column-reverse;
     justify-content: center;
     align-items: center;
     gap: 1rem;
     margin: 30px;
     font-size: 2rem;

 }


 .foto_catering {
     max-width: 100%;
 }


 /*responsil*/


 @media (max-width:1038px) {

     .cartitasquienessomos {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
     }

     .img-quienessosmos {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
     }



 }