/*galeria de fotos*/
.galerias {
    background-color:$colorprincipal;

}

.galeriaimg {

    display: flex;
    display: inline;
    max-width: 20rem;
    margin: 15px;
    border-radius: 15px;


}

.galeriatransfor:hover {

    transform: scale(2)
}
