/* menu de navegacion*/
.menu {

    background-color: #0197F6;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: last baseline;
    gap: 3rem;
    position: sticky;
    top: 0;
    min-width: 100%;
    z-index: 1; 

    .menu-logo {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
       
        .logo {
            width: 3rem;
           
        }

       
    }
  
  
    .menu-list {

        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        align-items: center;

        .list {
            display: inline-block;

        }

        .list a {
            color:$textocolor;
            text-decoration: none;
            font-size: larger
        }

        .list:hover {
            color:$textocolor;
            text-decoration: underline double;
            font-size: 1.5rem;
        }

        .enlace p {
            color:$textocolor;
            text-decoration: none;
        }
    }

}
.titulopresentacion {
    background-color: $colorsecundario;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 500;
    padding: 1rem;

}
.menu p {
    color:$textocolor;
    text-decoration: none;
    font-size: 3rem;
    font-weight: bold;
}
