.redes-sociales {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    bottom: 1rem;
    left: 1rem;
    padding: 0;
    gap: 1rem;
    border-radius: 1rem;

    .bi {
        font-size: 2rem;
        color: $textocolor;

    }

}
.index-redes {
    background-color: #0197F6;
    display: flex;
    justify-content: center;
    align-items: center;

}