@media screen and (max-width:1100px){

.inicio-inicio{ 

    .pages-inicio {
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "inicio"
        "quienes-somos"
        "galeria"
        "servicios"
        "reseñas"
        "contacto";
        color: $textocolor;
        text-decoration: overline;
    } 
             
}
 
}

@media screen and (max-width:500px) {
.pages-inicio a { 
    font-size:30px !important; 
    
}
}
